<!doctype html>
<html lang="ko">
<head>
    <title>hafamily_streaming</title>
    <% include fragment/metatag.ejs %>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<% include fragment/nav.ejs %>

<div class="jumbotron">
    <h1 class="display-4">Streaming Service for Hafamily</h1>
    <p class="lead">반갑습니다. 이곳은 하페밀리들을 위한 스트리밍 서버입니다.</p>
    <hr class="my-4">
    <p>상단에 있는 메뉴에서 원하는 항목을 시청하고, 없는 경우 하단의 버튼을 클릭하여 영상을 신청해주세요</p>
    <a class="btn btn-primary btn-lg disabled" href="#" role="button">신청하기</a>
</div>
<% include fragment/commonScript.ejs %>
</body>
</html>
