<!doctype html>
<html lang="ko">
<head>
    <title>hafamily_streaming</title>
    <% include fragment/metatag.ejs %>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<% include fragment/nav.ejs %>
<div class="container mt-5">
    <video class="mt-5" controls>
        <source src="player/watch?type=<%= type %>&file=<%= file %>" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<% include fragment/commonScript.ejs %>
</body>
</html>
